/*表*/

table{
  width: 100%;
  border-collapse: collapse;
}

table tr{
  border-bottom: solid 2px white;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: left;
  width: 55%;
  background-color: #FFC0CB;
  color: white;
  text-align: center;
  padding: 50px 0;
}

table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 0px solid #52c2d0;
  border-top: 0px solid transparent;
  border-bottom: 10px solid transparent;
}

table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color:   #FAF0E6;
  padding: 10px 0;
}
/*バックグラウンドカラー*/

.background {
  background-color: #FAEBD7;
}

/*テキストサイズ*/
table {
  font-size: 20px;
}

.top_text {
  text-align: center;
  color: #5F9EA0;
  border: 10px groove #AFEEEE;
}

.container {
  padding-top: 70px;
}

.v {
  color: #708090;
  font-size: 27px;
  float : left ;
  border: 8px dotted pink;
  background: #EEE8AA;


}

a {
  background-color: red;
  width: 80px ; height: 100px ;
}

.tan {
  font-size:55px; padding-top: 80px ; padding-bottom: 80px ; ; text-align: center;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.time {
  font-size: 50px; color: #808080;
  text-align: center;
  border: 3px outset white;
}

h1 {
  font-size : 75px ;
}

.example1 {
  position: relative;/*相対位置*/
  padding-left: 95px;/*アイコン分のスペース*/
  line-height: 1.4;/*行高*/
  color: gray;/*文字色*/
  font-size: 30px;
}

.example1:before {
  font-family: "Font Awesome 5 Free";/*忘れずに*/
  content: "\f111";/*アイコンのユニコード*/
  font-weight: 900;
  position: absolute;/*絶対位置*/
  font-size: 30px;/*サイズ*/
  left: 60px;/*アイコンの位置*/
  top: -0.0em;/*アイコンの位置*/
}
.example1:before {
  color: #ffa7a1;
}
.example2:before {
  color: #ffdfa1;
}
.example3:before {
  color: #a1ceff;
}
.example4:before {
  color: #b1eab8;
}

