/*表*/

table{
  width: 100%;
  border-collapse: collapse;
}

table tr{
  border-bottom: solid 2px white;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: left;
  width: 55%;
  background-color:  #48D1CC;
  color: white;
  text-align: center;
  padding: 50px 0;
}

table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 0px solid #52c2d0;
  border-top: 0px solid transparent;
  border-bottom: 10px solid transparent;
}

table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color:   #F8F8FF;
  padding: 10px 0;
}


/*テキストサイズ*/
table {
  font-size: 20px;
}

.background {
  background: #E0FFFF;
}

.top_text {
  text-align: center;
  background: #40E0D0;
  padding: 10px 90px ;
  padding-bottom: 120px;
}

.container {
  padding-top: 70px;
}

.v {
  padding: 5px;
  color: #F0F8FF;
  font-size: 27px;
  float : left ;
  border: 3px solid #00FFFF;
  background:   #48D1CC;

}

.verz {
  background: #DCDCDC;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.verf {
  float: left;
}

}

a {
  background-color: red;
  width: 80px ; height: 100px ;
}

.tan {
  font-size:55px; padding-top: 80px ; padding-bottom: 80px ; ; text-align: center;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.time {
  font-size: 50px; color: #808080;
  text-align: center;
}

h1 {
  font-size : 70px ;
  color: white;
}

h3 {
  color: white;
  padding-top: 300px;
}

.example1 {
  position: relative;/*相対位置*/
  padding-left: 95px;/*アイコン分のスペース*/
  line-height: 1.4;/*行高*/
  color: #696969;/*文字色*/
  font-size: 30px;
}

.example1:before {
  font-family: "Font Awesome 5 Free";/*忘れずに*/
  content: "\f111";/*アイコンのユニコード*/
  font-weight: 900;
  position: absolute;/*絶対位置*/
  font-size: 30px;/*サイズ*/
  left: 60px;/*アイコンの位置*/
  top: -0.0em;/*アイコンの位置*/
}
.example1:before {
  color: #ffa7a1;
}
.example2:before {
  color: #ffdfa1;
}
.example3:before {
  color: #a1ceff;
}
.example4:before {
  color: #b1eab8;
}

.nai {
  font-size: 31px;
}

.naiy {
  font-size: 31px;
  color : #D2691E;
}

.naiyo {
  background: #FFF8DC;

}

.ima {
  font-size:45px; padding-top: 80px ; padding-bottom: 80px ; ; text-align: center;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
     font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  }

